<!-- views/partials/footer.ejs -->
<footer class="footer mt-auto">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2015 <a href="https://github.com/malhar212/nuworks-clone">Malhar Mahant</a> <a href="https://github.com/malhar212/nuworks-clone">Roydon Pereira</a></p>
    </div>
</footer>