<!DOCTYPE html>
<html>
<% include ./partials/head %>

    <body class="d-flex flex-column min-vh-100">
        <% include ./partials/nav %>
            <div class="container-fluid">
                <p>Welcome <%= session.username %>
                </p>
                <%- include('./partials/jobform',{ job: job }) %>
            </div>


            <% include ./partials/footer %>

                <% include ./partials/scripts %>

                    <script
                        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
                    <script>
                        let job = <% if (job != null) {%><% - JSON.stringify(job) %><% } else {%> null;<% } %>

                            $(document).ready(function () {
                                $('#jobform').validate();
                                /*                             if (job != null) {
                                                                mult = job.location.split(',');
                                                                if (mult.length > 0) {
                                                                    mult[0].split('-');
                                                                }
                                                                $('#idstate').val(state_code);
                                                            } */
                            });

                        $("#idstate").change(function (e) {
                            var $select = $('#idcity');
                            $select.find('option').remove();
                            cities = [{ "cityid": 1, "cityname": "Lowell", "stateid": "MA" }, { "cityid": 2, "cityname": "Lexington", "stateid": "MA" }, { "cityid": 3, "cityname": "Boston", "stateid": "MA" }, { "cityid": 4, "cityname": "Cambridge", "stateid": "MA" }, { "cityid": 5, "cityname": "Portland", "stateid": "ME" }, { "cityid": 6, "cityname": "Brookline", "stateid": "MA" }, { "cityid": 7, "cityname": "Charlotte", "stateid": "NC" }, { "cityid": 8, "cityname": "Newton Center", "stateid": "MA" }, { "cityid": 9, "cityname": "Raritan", "stateid": "NJ" }, { "cityid": 10, "cityname": "Sydney", "stateid": "FL" }, { "cityid": 11, "cityname": "Wakefield", "stateid": "MA" }, { "cityid": 12, "cityname": "Needham", "stateid": "MA" }, { "cityid": 13, "cityname": "Woburn", "stateid": "MA" }, { "cityid": 14, "cityname": "Vancouver", "stateid": "WA" }, { "cityid": 15, "cityname": "Providence", "stateid": "RI" }, { "cityid": 16, "cityname": "Pawtucket", "stateid": "RI" }, { "cityid": 17, "cityname": "New York", "stateid": "NY" }, { "cityid": 18, "cityname": "Watertown", "stateid": "MA" }, { "cityid": 19, "cityname": "Waltham", "stateid": "MA" }, { "cityid": 20, "cityname": "Newton", "stateid": "MA" }];
                            state = $("#idstate option:selected").val();
                            const temp = cities.filter(city => city.stateid == state);
                            temp.forEach(function (obj) {
                                $select.append('<option value=' + obj.cityname + '>' + obj.cityname + '</option>');
                            });
                        });


                        $("button").click(function (e) {
                            if (!$("#jobform").valid()) { // Not Valid
                                alert("Required fields must be filled out");
                            } else {
                                e.preventDefault();
                                statusText = $(this).attr("id");
                                jobid = $("#idjobid").val();
                                if (statusText == "save") {
                                    status = 1
                                }
                                else {
                                    status = 2
                                }
                                if (jobid != undefined && jobid != '') {

                                    if (statusText == "delete") {
                                        url = "/job/" + jobid + "/deletejob";
                                    }
                                    else { url = "/job/" + jobid + "/update"; }
                                }
                                else {
                                    url = "/createjob";
                                }
                                $.ajax({
                                    type: "POST",
                                    url: url,
                                    data: {
                                        jobid: jobid,
                                        position: $("#idposition").val(),
                                        type: $("#idtype").val(),
                                        description: $("#iddescription").val(),
                                        vacancycount: $("#idvacancycount").val(),
                                        status: status,
                                        state: $("#idstate option:selected").val(),
                                        city: $("#idcity option:selected").val(),
                                        orgid: $("#orgid").val(),
                                        category: $("#idcategory").val()
                                    },
                                    success: function (result) {
                                        alert('Succesfull');
                                        window.location.href = "/my-jobs";
                                    },
                                    error: function (result) {
                                        alert('error: ' + result.responseText);
                                    }
                                });
                            }
                        });
                    </script>
    </body>

</html>